In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle

In [5]:
model=load_model('model/model.h5')

with open('pickle-file/label_encoder_gender.pkl','rb') as file:
    label_encoder=pickle.load(file)
   
with open('pickle-file/one_hot_encoder_geo.pkl','rb') as file:
    onehot_encoder=pickle.load(file) 
    
with open('pickle-file/scaler.pkl','rb') as file:
    scaler=pickle.load(file)

In [12]:
# Example input data
input_data = {
    'CreditScore': [600],
    'Geography': ['France'],
    'Gender': ['Male'],
    'Age': [40],
    'Tenure': [3],
    'Balance': [60000],
    'NumOfProducts': [2],
    'HasCrCard': [1],
    'IsActiveMember': [1],
    'EstimatedSalary':[50000]
    }

In [28]:
input_df=pd.DataFrame(input_data)

In [29]:
input_df

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [30]:
input_df['Gender']=label_encoder.transform(input_df['Gender'])

In [31]:
one_hot_geo=onehot_encoder.transform(input_df[['Geography']]).toarray()

In [32]:
onehot_encoder.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [33]:
one_hot_geo_df=pd.DataFrame(one_hot_geo,columns=onehot_encoder.get_feature_names_out(['Geography']))

In [34]:
one_hot_geo_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [35]:
input_df=pd.concat((input_df.drop('Geography',axis=1),one_hot_geo_df),axis=1)

In [36]:
input_df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [37]:
input_df=scaler.transform(input_df)

In [38]:
input_df

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [39]:
y_test=model.predict(input_df)

1/1 [==============================] - 0s 228ms/step

In [40]:
y_test

array([[0.045075]], dtype=float32)